
body, html {
  height: 100%;
    font-family: Quicksand;
    color: #fff;

}
p, .news-text {
  font-size: 2.28em;
  font-family:  Quicksand;
}
.fas, .fa-galactic-senate {
  font-size: 2em;
}

.bg-tyron{
   /*background-color: #0a7b0566 !important;*/
   background-color: rgba(4, 9, 30, 0.85);
}
.head-banner {
    background:     linear-gradient(90deg, rgba(4, 9, 30, 0.85) 23%, rgba(4, 9, 30, 0.85) 69%), url("../img/002.jpg") no-repeat ;
    position: cover ;
    background-size: cover;
    height: 100%;
    width: 100%;
    /*background-repeat: no-repeat;*/
    background-size: cover;
  background-repeat: no-repeat;

}

.carousel-item {

  color: #fff;
  font-weight: 700px;
  line-height: 20px;
}

.testing{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100% !important;

}
.values-bg {

    background:     linear-gradient(90deg,  rgba(4, 9, 30, 0.85) 23%, rgba(4, 9, 30, 0.85) 69%), url("../img/001.jpg") no-repeat ;
    position: cover ;
    background-size: cover;
}
.valuecards-text {
  color: #fff;
  
}


.eventssection {

    background:     linear-gradient(90deg,  rgba(4, 9, 30, 0.85) 23%, rgba(4, 9, 30, 0.85) 69%), url("../img/eventsbanner.jpg") no-repeat ;
    position: cover ;
    background-size: cover;
     height: 100%;
    width: 100%;
    color: #fff;
}
.event-counter{
  background:#0006 !important;
}
.countdown-timer-wrapper .timer .timer-wrapper {
  display: inline-block;
  width: 60px;
  height: 50px;
  font-size: 1.55rem;
}

.sponsor-logo{
  background-color: #fff;
  height: 74px;
  width: 204px;
}
.sponsors-section{
  background-color: #fff;
}

.events-icon {
  font-size: 3em;
}

.brd a {
    
    visibility: hidden !important;
  }

.footer-tyron {
  background-color: rgba(4, 9, 30, 0.85);
  color: #fff;

 }


 /*about page */
 .about-page-header {
    background:     linear-gradient(90deg,  rgba(4, 9, 30, 0.85) 23%, rgba(4, 9, 30, 0.85) 69%), url("../img/eventsbanner.jpg") no-repeat center ;
    position: relative;
    height: 70vh;
    color: #fff;
    overflow: hidden;
 }